<div class="row featured-footer-custom text-center">
  <h2 class="margin-top-60">Stay connected with Eclipse Projects</h2>
  <h3>Sign up for our newsletter</h3>
  <a class="btn btn-primary btn-lg" href="https://newsroom.eclipse.org/eclipse-newsletter">
    Subscribe
  </a>
</div>

