<div class="container eclipse-ide-new-features">
  <div class="row eclipse-ide-new-features-prefix">
    <h2>Better Than Ever</h2>
    <p>The Eclipse IDE delivers what you need to rapidly innovate</p>
  </div>
  <div class="row">
    <div class="col-sm-8 margin-bottom-60">
      <div class="featured-new-items match-height-item-by-row">
        <div class="row">
          <div class="col-xs-18 col-sm-16 col-md-18">
            <h3 class="heading-underline text-uppercase">
              <a href="https://www.eclipse.org/eclipse/news/4.28/jdt.php">
                Improved Java Development Tooling
              </a>
            </h3>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-6">
            <div class="featured-new-item-icon">
              <i class="fa fa-mouse-pointer icon" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <p class="big">
          New Java Constant Hover, Improved Lambda Cleanup, progress
          information display for JUnit test configuration, and more
        </p>
      </div>
    </div>
    
    <div class="col-sm-8 margin-bottom-60">
      <div class="featured-new-items match-height-item-by-row">
        <div class="row">
          <div class="col-xs-18 col-sm-16 col-md-18">
            <h3 class="heading-underline text-uppercase">
              <a title="The Eclipse marketplace" href="https://marketplace.eclipse.org/">Proven Extensibility</a>
            </h3>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-6">
            <div class="featured-new-item-icon">
              <i class="fa fa-cogs icon" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <p class="big">
          Features a huge variety of platform plugins that will ease the
          addition of new functionality
        </p>
      </div>
    </div>

    <div class="col-sm-8 margin-bottom-60">
      <div class="featured-new-items match-height-item-by-row">
        <div class="row">
          <div class="col-xs-18 col-sm-16 col-md-18">
            <h3 class="heading-underline text-uppercase">
              <a href="https://www.eclipse.org/eclipse/news/4.28/platform.php">
                Improved Platform
              </a>
            </h3>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-6">
            <div class="featured-new-item-icon">
              <i class="fa fa-code icon" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <p class="big">
          Allows a new workbench window to be displayed on the current monitor
        </p>
      </div>
    </div>
    <div class="col-sm-8 margin-bottom-60">
      <div class="featured-new-items match-height-item-by-row">
        <div class="row">
          <div class="col-xs-18 col-sm-16 col-md-18">
            <h3 class="heading-underline text-uppercase">Free and Open Source</h3>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-6">
            <div class="featured-new-item-icon">
              <i class="fa fa-thumbs-up icon" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <p class="big">
          Free and open source released under the terms of the Eclipse Public
          License 2.0
        </p>
      </div>
    </div>

    <div class="col-sm-8 margin-bottom-60">
      <div class="featured-new-items match-height-item-by-row">
        <div class="row">
          <div class="col-xs-18 col-sm-16 col-md-18">
            <h3 class="heading-underline text-uppercase">
              Improved Plug-in Development Tooling
            </h3>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-6">
            <div class="featured-new-item-icon">
              <i class="fa fa-terminal icon" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <p class="big">
          Mixed Product Support in PDE Product Editor and OSGi Repository Target Location Type to improve interfacing of repositories with PDE
        </p>
      </div>
    </div>
    <div class="col-sm-8 margin-bottom-60">
      <div class="featured-new-items match-height-item-by-row">
        <div class="row">
          <div class="col-xs-18 col-sm-16 col-md-18">
            <h3 class="heading-underline text-uppercase">
              <a title="Get involved by contributing" href="https://www.eclipse.org/contribute/">
                Community-powered
              </a>
            </h3>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-6">
            <div class="featured-new-item-icon">
              <i class="fa fa-users icon" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <p class="big">
          More and more, the Eclipse IDE is powered by individual
          contributors around the world
        </p>
      </div>
    </div>
    <ul class="list-inline featured-new-links nn-doc-section">
      <li>
        <a class="btn btn-primary btn-lg nn-btn" href="/release/noteworthy">
          New and Noteworthy
        </a>
      </li>
      <li>
        <a class="btn btn-primary btn-lg doc-btn" href="https://help.eclipse.org/2023-09/index.jsp">
          Documentation
        </a>
      </li>
    </ul>
  </div>
</div>
