<div class="text-center padding-top-50 padding-bottom-60 container padding-bottom-25">
  <div class="row donate-container">

    <div class="col-md-18 col-md-offset-3">

      <h1>
        Power the <strong class="orange">Eclipse Community</strong> <br>with your donation
      </h1>
      <p>If you value Eclipse technologies, please consider making a donation. Contributions
        from users like you help fund the operations of the Eclipse Foundation. All money
        donated to the Eclipse Foundation will be used to support the Eclipse Community.</p>
      <div class="donate-container-content">
        <input class="donate-bar" type="range" value="3" step="1" min="1" max="5"
          style="position: absolute; width: 1px; height: 1px; overflow: hidden; opacity: 0;">
      </div>

      <ul class="list-inline list-donate-amount text-left margin-bottom-20">
        <li class="one">$5</li>
        <li class="two">$10</li>
        <li class="three text-center">$35</li>
        <li class="four text-right">$50</li>
        <li class="five text-right">$100</li>
      </ul>
    </div>

    <div class="form-inline margin-bottom-20 donate-submit">
      <div class="input-group">
        <input class="donate-amount form-control text-center" type="number" name="firstAmount" value="35" min="1">
        <div class="input-group-addon">USD</div>
      </div>
      <button type="button" class="btn btn-warning btn-donate" data-toggle="modal"
        data-target="#donationModal">Donate</button>
    </div>

    <ul class="list-inline">
      <li><a class="grey-link" href="mailto:donate@eclipse.org?subject=Donation Problem">Problems
          donating?</a></li>
      <li><a class="grey-link" href="/donate/faq.php">Donation FAQ</a></li>
    </ul>

  </div>
</div>

<div class="modal fade text-center" id="donationModal" tabindex="-1" role="dialog" aria-labelledby="donation_modal"
  style="display: none;">
  <div class="donate-modal modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <form id="donation_default_eclipse_form" class="choose-amount" action="https://www.eclipse.org/donate/process.php"
        method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">
            Thank you for supporting <span class="text-nowrap">our community</span>!
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-sm-offset-6">
              <div class="form-inline margin-bottom-15">
                <div class="input-group">
                  <input class="form-control form-amount text-center" type="number" name="amount" value="35" min="1">
                  <div class="input-group-addon">USD</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-bottom-5">
            <div class="col-sm-24 text-center">
              <label class="radio-inline"><input type="radio" name="type" value="paypal" checked="checked">
                Paypal</label> <label class="radio-inline"><input type="radio" name="type" value="credit"> Credit
                card</label>
            </div>
          </div>
          <div class="row margin-bottom-5">
            <div class="col-sm-24">
              <label class="radio-inline"><input type="radio" name="subscription" id="subscription_default" value="0"
                  checked="checked"> One-time</label> <label class="radio-inline"><input type="radio"
                  name="subscription" value="M"> Monthly</label> <label class="radio-inline"><input type="radio"
                  name="subscription" value="Y"> Yearly</label>
            </div>
          </div>
          <div class="checkbox">
            <label> <input class="recognition-checkbox" type="checkbox" value="recognition" name="is_anonymous">
              <span class="recognition-text">I want to be listed on the recognition page</span>
            </label>
          </div>
          <div class="recognition-fields form-inline">
            <div class="form-group">
              <input class="form-control margin-bottom-10" type="text" name="first_name" placeholder="First Name"
                spellcheck="false" data-ms-editor="true">
            </div>
            <div class="form-group">
              <input class="form-control margin-bottom-10" type="text" name="last_name" placeholder="Last Name"
                spellcheck="false" data-ms-editor="true">
            </div>
          </div>
        </div>
        <div class="modal-footer donate-modal-footer text-center">
          <input type="hidden" name="default_process_url" value="https://www.eclipse.org/donate/process.php">
          <input type="hidden" name="credit_process_url" value="https://accounts.eclipse.org/donate/process">
          <input type="submit" value="Donate" class="btn btn-warning">
          <input type="hidden" name="landing_page" value="eclipsefdn">
        </div>
      </form>
    </div>
  </div>
</div>
